.container {
  padding: 10px;
  min-height: 100vh;
  background: #eee;
}

.button-container {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 20px;
}

.searche-value {
  margin-top: 10px;
  margin-bottom: 20px;
}